{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}GlobalLogix Dashboard{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Estilos propios -->
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}?v=107">

    {% block extra_head %}{% endblock %}
</head>
<body>

    <header class="topbar">
        <a href="{% url 'dashboard_home' %}" class="brand-link">
            <div class="brand-logo">
                GL
            </div>

            <div class="brand-text">
                <h1>GlobalLogix</h1>
                <p>Dashboard de logística internacional</p>
            </div>
        </a>

        <nav class="main-nav">
            <a href="{% url 'dashboard_home' %}" class="nav-pill">
                Dashboard
            </a>

            <a href="/admin/" class="nav-pill">
                Admin
            </a>
        </nav>
    </header>

    <main class="page-container">
        {% block content %}
        {% endblock %}
    </main>

    {% block extra_scripts %}{% endblock %}
</body>
</html>